@model Hoteles.Models.Hotel

@{
    ViewBag.Title = "Crear Hotel";
}

<h2 class="text-center">
    Creación de un nuevo Hotel
    <p class="btn btn-secondary ms-2" type="button">
        @Html.ActionLink("Regresar", "Index", null, null, new { @class = "nav-link" })
    </p>
</h2>
<hr />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="card">
                    <div class="card-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Ubicacion, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Ubicacion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Ubicacion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Cantidad_Habitacion, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Cantidad_Habitacion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Cantidad_Habitacion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", rows = "4" })
                                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="form-group">
                                <input type="submit" value="Crear Nuevo Hotel" class="btn btn-success btn-block" />
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
