@model IEnumerable<Hoteles.Models.Hotel>

@{
    ViewBag.Title = "Listado Hoteles";
}

<h2 class="text-center">
    Lista de Hoteles disponibles
    <p class="btn btn-secondary ms-2" type="button">
        @Html.ActionLink("Crear un nuevo Hotel", "Create", null, null, new { @class = "nav-link" })
    </p>
</h2>
<hr />

@if (@ViewBag.ErrorMessage != null)
{
    <h5 class="fst-italic text-center">
        @ViewBag.ErrorMessage
    </h5>
    <hr />
}

<table class="table table-striped-columns mt-5">
    <tr class="text-center">
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad_Habitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </th>
        <th>
            Acciones Disponibles
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad_Habitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.ActionLink("Ver", "Details", new { id = item.IdHotel }) |
                @Html.ActionLink("Editar", "Edit", new { id = item.IdHotel }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdHotel })
            </td>
        </tr>
    }

</table>
