@model Hoteles.Models.Rol

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del rol</h2>

<div>
    <h4>Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Guardar", "Edit", new { id = Model.IdRol },new { @class = "btn btn-outline-primary" })
    @Html.ActionLink("Regresar","Index", new { },new { @class = "btn btn-outline-danger" })
</p>
