@model Hoteles.Models.Habitacion

@{
    ViewBag.Title = "Creando Habitación";
}

<h2 class="text-center">
    Creando Habitación
    <p class="btn btn-secondary ms-2" type="button">
        @Html.ActionLink("Listado Habitaciones", "Index", null, null, new { @class = "nav-link" })
    </p>
</h2>
<hr />

@if (@ViewBag.ErrorMessage != null)
{
    <h5 class="fst-italic text-center">
        @ViewBag.ErrorMessage
    </h5>
    <hr />
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.IdHotel, "Hotel Perteneciente", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.DropDownList("IdHotel", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdHotel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Capacidad_Habitacion, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Capacidad_Habitacion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Capacidad_Habitacion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Tarifa_Noche, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Tarifa_Noche, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Tarifa_Noche, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Disponible, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Disponible)
                                @Html.ValidationMessageFor(model => model.Disponible, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <input type="submit" value="Crear Nueva Habitación" class="btn btn-outline-success" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
